.bg{
	background-image: url('src/image/contactus.jpg');
	height: 400px;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-links.open
{
  clip-path: circle(1000px at 90% -10%);
  -webkit-clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}
.bg h1{
font-size: 50px;
font-weight: bold;
}
.nav{
	padding-bottom: 30px;
}
.icons{
  width: 90%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 30px;
}
.icons .col-md{
  text-align: center;
  width: 25% !important;
}
@media (max-width:1100px){
	.icons{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	  }
	  .icons .col-md{
		text-align: center;
		width: 90% !important;
		margin-top: 30px;
	  }
	  
}
#ico{
  font-size: 34px;
  text-align: center;
color: white;
  padding: 20px;
  border-radius: 50%;
  background-color: blue;
}
.text #heading{
  font-weight: bold;
}
.text p{
  font-size: 20px;
}

.contactform .row{
width: 100%;
display: flex;
margin: 10px;
padding: 50px;}
.contactform .row .form{
  width: 65%;
  display: flex;


}
.img-fluid {
  max-width: 100% ;
  height: 100%; }

.contactform .row .img{
  width: 35%;
}
@media (max-width:950px){
	.contactform .row{
		display: flex;
		width: 100%;
		flex-direction: column;
		padding: 0px;
	}
	.contactform .row .img{
		width: 95%;
	  }
	  .contactform .row .form{
		width: 100%;
	  }

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


.formContainer {
	max-width:800px;
	width:100%;
	margin:0 auto;
	position:relative;
  height: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	/* margin:50px 0; */
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

