 /* body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
} */
/* *{
    padding: 0px;
    margin:0px;
} */

section { 
    background-color: white;
    /* border: solid black 1px; */
}

/* .nav { 
    background-color: rgb(6, 12, 31);
    height: 13vh;
    color: White;
    font-size: 40px;
} */

.top { 
    background-color: rgb(6, 12, 31);
    height: 100vh;
    color: White;
    font-size: 40px;
}

nav { 
    display: flex; 
    justify-content: space-between;
}
#voiceIcon{
    color: rgb(128, 68, 0);
    font-size: 35px !important;
    /* border-radius: 50% !important;  */
}
ul { 
    display: flex; 
    list-style-type: none;
    width: 550px;
    justify-content: space-around;
    font-size: 28px;
    margin-top: 20px;
    margin-left: 20px;
}

ul.show {
    display:block;
}

li { 
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
} 

.form h1 {
	text-align: center;
	margin: 35px 0 20px 0 !important;
}


h2 { 
    font-size: 50px;

}

p { 
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.subtext { 
    font-size:15px;
    font-weight: 300;
}
.top-area { 
   display:flex;
   height: 100%;
   justify-content: space-between;
   align-items: center;
}

.top-text { 
    margin-left: 75px;
    margin-bottom: 200px;
}

.button { 
    width: 200px;
    height: 55px;
    border-radius: 40px;
    background-color: coral;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    padding-top: 5px;
    margin-top:20px;
}

.button:hover {
  background-color: #ef744b
}

.button:active { 
    background-color: darkgrey;
    color: #808080
}

.social-media { 
    padding-bottom: 200px;
}

.logo { 
height:80px;
margin: 20px;
}

.social-logo { 
    margin: 27px;
}

.about-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.headshot-image {
    width: 150px;
    border-radius: 150px;
}

.headshot-container { 
    display: flex;
    align-items: center;
}

.project-section { 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.project-card { 
   width: 400px;
   height: 250px; 
   box-shadow: 5px 5px 20px rgba(211, 211, 211, 0.767);
   margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}
.project-image { 
    margin-top: 25px;
    width: 45px;
    border-radius: 150px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-wrapper { 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .project {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .project > div {
    width: 25%;
    margin: 20px 4.15%;
    text-align: center;
  }
  
  .project .box {
    width: 100%;
    height: 300px;
    border: 2px solid black;
  }
  
  .project .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project button {
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
    margin-top: 8px;
  }

  .project-link {
      text-decoration: none;
      color: coral;
  }

h1.form {
	text-align: center;
	margin: 35px 0 20px 0 !important;
    color:coral;
}

/* .hamburger { 
    display: none;
} */

.hamburger:focus {
    outline: 0;

}

@media only screen and (max-width: 1000px) {
    .hamburger { 
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;

    }

    ul { 
        display: none;
        background-color: rgb(8, 16, 43);
        margin: 0px;
    } 

    ul.show {
        display:block;
    }

    /* nav {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 30px;
    } */

    .logo {
        display: none;
    }
}

.aboutMe-p {
    margin-right: 60px;
    margin-left: 60px;
    text-align:inherit;
}
/* 
==============================================footer============================================*/
.footerEnd {
    background:rgb(6, 12, 31);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footerEnd .row {
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footerEnd .row a {
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footerEnd .row a:hover {
    color:coral;
    }
    
    .footerEnd .row ul {
    width:100%;
    }
    
    .footerEnd .row ul li {
    display:inline-block;
    margin:0px 30px;
    }
    
    .footerEnd .row a i {
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px) {
    .footerEnd{
    /* text-align:left; */
    padding:5%;
    }
    .footerEnd .row ul li {
    display:block;
    margin:10px 0px;
    /* text-align:left; */
    }
    .footerEnd .row a i {
    margin:0% 3%;
    }
    }

